*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f4f4f4;
	color: #555555; 

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;
	font-weight: normal;
	/*Same as above*/
	font: normal, Arial, Helvetica, sans-serif;

	line-height: 1.6em;
}

h3 {
	font-size: 22px;
	text-align: center;
	padding-top:45px;
}

table{
	border: 2px black solid;
	border-radius: 1px;
	position: center;
	background: gray;
	padding: 12px;
	margin-top: 55px;
}

h1 {
	text-align: center;
	background: #F4A460;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;

}

th {
	color: white;
}

td {
	background: #ccc;
	border-bottom: 2px grey solid;
	border-left: 2px grey solid;
}

#tableBody {
	margin: 0px;
	width: auto;
}

/*#container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}*/

.center {
  margin-left: auto;
  margin-right: auto;
}

#main-footer{
	position:absolute;
   	bottom:0;
  	width:100%;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}